 [Unit]
 Description=Start Dashboard
 After=graphical.target

 [Service]
 Type=idle
 ExecStart=/opt/SchulichBackupCamera/BackupCamera 0 0 800 480 1024 768

 [Install]
 WantedBy=default.target
