 [Unit]
 Description=Start Dashboard
 After=graphical.target

 [Service]
 Type=idle
 ExecStart=/opt/SchulichEpsilonDashboard/EpsilonDashboard -d --platform xcb

 [Install]
 WantedBy=default.target
