 [Unit]
 Description=Start Hermes
 After=graphical.target

 [Service]
 Type=idle
 ExecStart=/opt/SchulichEpsilonHermes/SchulichEpsilonHermes

 [Install]
 WantedBy=default.target
